@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #202026;
}

/* Menu */

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    height: 80px;
}

.logo img {
    width: 64px;
}

.menu-items a {
    margin-left: 30px;
}

.menu-items a img {
    width: 26px;
}

/* Main */

.content {
    height: calc(100vh - 80px);
    width: 100%;
    padding: 0px 5%;
    display: flex;
}

/* Main -- > Left-Side */

.left-side {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.left-side h1 {
    font-size: 50px;
    color: #00c0af;
}

.left-side p {
    color: #fff;
    margin-bottom: 70px;
    font-size: 14px;
    font-size: 400;
    
}

.left-side span {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
}

.left-side a {
    text-decoration: none;
    color: #fff;
    background-color: #00c0af;
    text-transform: uppercase;
    width: fit-content;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.left-side a:hover {
    background-color: #009c8f;
    color: #fff;
}

/* Main --> Right-Side */

.right-side {
    width: 100%;
    height: 600px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1200px) {

    .menu-items a img {
        width: 40px;
    }
    .menu {
        margin-bottom: 40px;
    }
    .content p {
        font-size: 16px;
    }

    .left-side {
        margin-right: 40px;
    }

    .right-side {
        margin-bottom: 40px;
    }

    .right-side img {
        width: 300px;
    }
}

@media (max-width: 1200px) {
    .logo img {
        width: 45px;
    }

    .menu-items a img {
        width: 30px;
    }
    .menu {
        margin-bottom: 40px;
    }

    .content h1 {
        font-size: 45px;
    }

    .content p {
        font-size: 18px;
    }

    .left-side {
        margin-right: 30px;
    }

    .right-side {
        height: 500px;
        margin-bottom: 50px;
    }

    .img img {
        max-width: 300px;
    }

}

@media (max-width: 992px) {
    .logo img {
        width: 75px;
    }

    .menu {
        margin-bottom: 40px;
    }

    .menu-items a img {
        width: 45px;
    }

    .content {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .left-side span {
        text-align: center;
    }

    .left-side a {
        margin: auto;
        margin-bottom: 30px;
    }

    .right-side {
        height: 700px;
    }

    .img img{
        max-width: 100%;
        height: 600px;
    }
}

@media (max-width: 800px) {
    .logo img {
        width: 60px;
    }

    .menu {
        margin-bottom: 30px;
    }

    .menu-items a {
        margin-left: 40px;
    }

    .menu-items a img {
        width: 35px;
    }

    .content {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left-side span {
        text-align: center;
    }

    .left-side a {
        margin: auto;
        margin-bottom: 30px;
    }

    .right-side {
        width: 100%;
    }

    .img img {
        height: 500px;
    }

}

@media (max-width: 500px) {
    .logo img {
        width: 60px;
    }

    .menu-items a {
        margin-left: 23px;
    }

    .menu-items a img {
        width: 35px;
    }

    .content h1 {
        font-size: 35px;
    }

    .content a {
        font-size: 14px;
    }

    .right-side {
        height: 300px;
    }
    
    .img img {
        height: 300px;
    }
}

@media (max-width: 400px) {
    .logo img {
        width: 60px;
    }

    .menu-items a img {
        display: none;
    }

    .content a {
        font-size: 13px;
    }

    .right-side {
        height: 300px;
    }

    .img img {
        height: 350px;
    }

}

@media (max-width: 300px) {
    .logo img {
        width: 45px;
    }

    .menu-items a img {
        display: none;
    }

    .content h1 {
        font-size: 25px;
    }

    .content p {
        font-size: 12px;
    }

    .content a {
        font-size: 12px;
        padding: 10px;
    }

    .right-side {
        height: 300px;
    }

    .img img {
        height: 250px;
    }
    
}